<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <% include ./partial/head %>
    <style>
        .title {
    text-align: center;
}
    </style>
  </head>
  <body>
    <% include ./partial/theme-changer %>

    <% include ./partial/header %>

<main>
    <br/><br/>
  <div class="container mt-5">
    <h1 class="title mt-5 text-center">About Our Website</h1><br><br><br>

  <p  class="fs-5">  DreamCine.com is an Online Movie Ticketing Website, founder-member of <span class="fw-semibold">HTET EHINDRA LWIN, THET HTET HTAR SAN, HSU WAI HTAR, EI NGON PWINT PHOO <span class="fw-normal">&</span> MOE HAYMANN THU </span>in early 2024.</p>
  <p  class="fs-5">  In this project movie ticket is booked using Online Movie Ticket Booking.</p>
  <p  class="fs-5">  This website provides facilities to customers to book tickets for a movie online and to gather information about the movies and cinemas in pathein.</p>
  <p  class="fs-5">  It is also to manage all the information about Booking, Payment, Seats, Movie and Cinemas.</p>
  <p  class="fs-5">  The user can view movies released, number of seats available, show timings, etc. Tickets can also be cancelled if needed.</p>
  <p  class="fs-5">  Later, select movie, cinema, show Timings and numbers of tickets you want from the comfort of your home.</p>
  <p  class="fs-5">  The main priority of any business is to provide customers with the very best services and to meet all their needs.</p>

</div><br><br><br>

   <h2 class="title">Our Team Members</h2>
   <div class="container mt-3">
  
      <div class="row mt-5">
        <div class="row gy-3 my-3">

        
            <div class="col-md-2 mx-3 mx-auto">
             <img src="/photo/hh.jpg" alt="" class="rounded-circle" width="100" height="100">
             <h5><i>Htet Ehindra Lwin (Leader)</i></h5>
            
          </div>
         

         
          <div class="col-md-2 mx-3 mx-auto">
             <img src="/photo/th.jpg" alt="" class="rounded-circle" width="100" height="100">
             <h5><i>Thet Htet Htar San</i></h5>
           </div>

            <div class="col-md-2 mx-3 mx-auto">
              <img src="/photo/she.jpg" alt="" class="rounded-circle" width="100" height="100">
              <h5><i>Hsu Wai Htar</i></h5>
           </div>
         
          
         
            <div class="col-md-2 mx-3 mx-auto">
              <img src="/photo/eg.jpg" alt="" class="rounded-circle" width="100" height="100">
              <h5><i>Ei Ngon Pwint Phoo</i></h5>
           </div>

          <div class="col-md-2 mx-3 mx-auto">
              <img src="/photo/mh.jpg" alt="" class="rounded-circle" width="100" height="100">
              <h5><i>Moe Haymann Thu</i></h5>
           </div>
        

          </div>
      </div>
      
    </div>


</main>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    <script src="/javascripts/jquery-3.7.1.min.js"></script>

    <script>
      $("#home").removeClass("text-warning");
      $("#cinemas").removeClass("text-warning");
      $("#aboutus").addClass("text-warning");

    </script>
</html>