<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand mx-5 " href="#">
        <img src="/photo/lg.jpg" alt="Logo" style="width:60px ;height:50px " class="rounded-pill" ><fs-5 class="text-warning mx-1">DREAM CINE</fs-5>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" id="home" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="cinemas" href="/cinemas">CINEMAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="aboutus" href="/aboutus">ABOUT US</a>
          </li>
      </div>
    </div>
  </nav>
</header>
